.heading {
  text-align: center;
  font-family: "valorant";
  background: linear-gradient(
    111.17deg,
    rgba(255, 255, 255, 0.04) 0.84%,
    rgba(255, 255, 255, 0.01) 63.92%
  );
  mix-blend-mode: normal;
  background: linear-gradient(
    180deg,
    #3fd72c 38.75%,
    rgba(49, 87, 44, 0) 78.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
}
.about__container {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 10%;
  display: flex;
  margin-top: 3rem;
}
.about__content {
  font-family: "Ubuntu";
  /* margin-top: 4rem; */
  width: fit-content;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  line-height: 25px;
  background: linear-gradient(
    111.17deg,
    rgba(255, 255, 255, 0.04) 0.84%,
    rgba(255, 255, 255, 0.01) 63.92%
  );
  mix-blend-mode: normal;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
}
.about__content p {
  padding: 1rem 2rem 0 2rem;
  line-height: 20px;
}
.about__container .about__img {
  width: 100%;
  margin-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
    flex-direction: column-reverse;
  }
  .about__img {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .about__img {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
}
