.home__container {
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 15%;
  margin-top: -7rem;
}
.home__content {
  margin-left: 3rem;
}
.home__content .home__title h5 {
  font-family: "VALORANT";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 110px;
  background: linear-gradient(
    273.4deg,
    #f7f7f2 7.49%,
    rgba(255, 255, 255, 0) 104.86%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.home__content p {
  margin: 0 0 2.6rem;
  color: var(--text-p);
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.home__content .glow {
  font-family: "VALORANT";
  font-size: 35px;
  text-align: center;
  background: linear-gradient(
    273.4deg,
    #f7f7f2 7.49%,
    rgba(255, 255, 255, 0) 104.86%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: var(--text-p);
    text-shadow: 0 0 0.6rem #00fd65, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.home__logo {
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
.home__logo-img {
  overflow: hidden;
}
.home__logo-img p {
  position: absolute;
  font-family: "Valorant";
  font-size: 50px;
  bottom: 8rem;
  right: 10rem;
  align-items: center;
  background: linear-gradient(
    180deg,
    #00fd65 1.25%,
    #00fd65 1.26%,
    rgba(0, 253, 101, 0.841667) 1.27%,
    rgba(0, 253, 101, 0) 69.7%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (max-width: 1024px) {
  .home__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .home__logo {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .home__logo-img p {
    font-size: 30px;
  }

  .home__content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .home__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .home__logo {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .home__logo-img p {
    margin-bottom: 18rem;
    right: 8rem;
  }
  .home__content {
    text-align: center;
  }
  .home__content .home__title h5 {
    text-align: center;
    font-size: 38px;
    line-height: 45px;
    margin-right: 2rem;
  }
  .home__content p {
    margin: 1.5rem 0;
    margin-right: 2rem;
    line-height: 30px;
  }
}
