.footer {
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 10%;
  /* margin-top: 10rem; */
  background: black;
  color: white;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.ficons {
  margin: 15px;
}

.left {
  width: 90%;
  justify-self: center;
}

.right h1 {
  font-family: "syncopate";
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  font-size: 28px;
}

.right .finfo .flinks {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: white;
}
 .btm img{
  width: 25px;
}
.btm{
  align-items: center;
  display: inline;
  font-size: 15px;
}

@media (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    background: black;
    box-sizing: border-box;
    height: 60vh;
    gap: 0;
    align-items: center;
    /* justify-content: space-around; */
  }
  .left img{
    width: 100%;
    /* align-self: center; */
    justify-self: center;
    padding: 3px 15px;
  }
  .right {
    font-size: 50%;
  }
  .right .finfo .flinks {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: white;
  }
}
