.footer {
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 15%;
  margin-top: 10rem;
  background: black;
}
.ficons {
  margin: 15px;
}

.left {
  width: 90%;
}

.right h1 {
  font-family: "syncopate";
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  font-size: 28px;
}

.right .finfo .flinks {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    background: black;
    box-sizing: border-box;
    height: 25%;
  }
  .left {
    width: 50vw;
  }
  .right {
    font-size: 50%;
  }
  .right .finfo .flinks {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: white;
  }
}
