@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Syncopate&display=swap");
@font-face {
  font-family: valorant;
  src: url(../../Prakarsh23/src/assets/ValorantFont.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --bg: #010d14;
  --text-p: #f7f7f2;
  --text-s: #00fd65;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
  --transition: all 400ms ease;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--bg);
  color: var(--text-p);
  line-height: 1.7;
  font-family: "Arapey", sans-serif;
}
/*======general css======*/

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* ========= medium device media query============= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}
/* ========= small device media query============= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }
}
