nav {
  /* position: fixed; */
  width: 100%;
  padding: 30px 0;
  font-family: "Syncopate", sans-serif;
  transition: var(--transition);
}
.max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.max-width .logo img {
  width: 43px;
  margin: 2rem 0 0 2rem;
}
.max-width .menu li {
  list-style: none;
  display: inline-block;
}
.max-width .menu li a {
  display: block;
  color: var(--text-p);
  font-size: 18px;
  font-weight: bolder;
  margin-right: 2rem;
  padding: 0;
  transition: color 0.3s ease;
}
.icon {
  font-size: 25px;
  font-weight: bolder;
}
